html {
    height: 100%;
}
body {
    background: url('../images/MR_COVER_2.png');
    
}
#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    min-width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0 0 0;
}
.titlebox {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
h1, h2 {
    font-family: 'Shrikhand', cursive;
    color: white;
    margin: 0;
}
h1 {
    font-size: 72px;
    text-shadow: 5px 5px #FF0099;
}
h2 {
    font-size: 36px;
}
h3 {
    color: #990066;
    font-size: 24px;
}
h3, h4, p {
    margin: 10px;
}
#logo {
    max-height: 200px;
}
nav {
    min-width: 70%;
    margin: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.link {
    font-size: 36px;
    color: #FE3399;
    font-weight: bold;
}
main {
    min-width: 70%;
    display: flex;
    flex-direction: row;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.box {
    height: 400px;
    width: 600px;
    background: #CC6495;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    justify-content: flex-start;
}
.images {
    display: flex;
    max-width: 80%;
    max-height: 70%;
    align-items: center;
    justify-content: center;
}
.images img {
    max-height: 800%;
    max-width: 40%;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid white;
}
